/*Habit Card css*/
.habit-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.habit-actions {
  display: flex;
  justify-content: space-between;
}
.habit-info.completed p:not(:last-child) {
  display: none;
}

/*Streak card and Streak Details page css*/
.card {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #ff9900;
}

.card h3 {
  color: #000000;
}

.card:hover h3 {
  color: #ffffff;
}

.card p {
  color: black;
}

.card:hover {
  background-color: #df83db;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

/*AddHabit form css*/
#habit_form {
  background-color: rgba(157, 70, 228, 0.7);
}
.mb-1 input {
  background-color: rgb(255, 255, 255, 0.7);
}
